<md-input-container class="input-container">
  <label>Form Title</label>
  <input type="text" ng-model="container.form.title" />
</md-input-container>
<md-input-container class="input-container">
  <label>Form Description</label>
  <input type="textarea" ng-model="container.form.description" />
</md-input-container>

<div>
    <form-item ng-repeat="item in container.form.items track by $index"
               type="{{item.type}}"
               item="item"
               index="$index"
               on-delete="container.delete(item, index)"
               on-up="container.up(item, index)"
               on-down="container.down(item, index)">
    </form-item>
</div>